doctype html
head
    title YieldsApp chat  
   
    script(src="https://code.jquery.com/jquery-1.9.1.js")
    script(src="../js/button.js")
    link(rel="stylesheet" href="../css/button.css")

body
    button#openButton
    iframe.chat(data-src="/chat")
